<!DOCTYPE html>
<html>

<head>

<link href="/static/css/bootstrap.min1.css" rel="stylesheet" id="bootstrap-css">
<script src="/static/js/bootstrap.min1.js"></script>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="login.css">
<script src="login.js"> </script>
<script
  src="/static/js/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="/static/semantic/dist/semantic.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/semantic/dist/semantic.min.css">

</head>
<body>
{% include "login_top.html" %}

<div class="container well">


  {% if access_token %}
  
  <legend ><em>Your Details</em></legend>
  <div class="ui message success">
      <b>Name :</b> {{name}} <br>
      <b>Roll Number :</b> {{roll_number}} <br>
      <b>mail :</b> {{mail}} <br>
    </div>
    <a href='login'>
        <button class="ui primary button">Proceed to Vote</button>
      </a>
    
    {% if is_volunteer %}
      <a href='volunteer_login'>
        <button class="ui secondary button">Proceed to Volunteer Panel</button>
      </a>
    
    {% elif is_admin %}
      <a href='admin_login'>
        <button class="ui secondary button">Proceed to Admin Panel</button>
      </a>
    
    {% endif %}
      

  {% else%}
  <center>
    <legend >Outlook OAuth2.0</legend>

    <p class="ui message info">You need to Authenticate yourself with Outlook before you can Proceed!</p>

    <a href={{sign_in_url}}>
      <button class="ui primary button">Log In with Outlook</button>
    </a>
  </center>
    {% endif %}

</div>
</body>