<div class="ui visible inverted left vertical sidebar menu">
		 <image style="width: 100px; height: 100px;" src="{% static 'images/iitglogo.png' %}"> </image>
		 <h2 class="ui blue header">
	<i class="user outline icon"></i>
	<div class="content">
		 Election Admin Portal
	</div>
</h2>
	<a class="item" href="/general_elections/admin_panel/">
		<i class="home icon"></i>
			Home
	</a>
	<a class="item" href="/general_elections/voting_stats/">
		<i class="chart line icon"></i>
			 Stats
	 </a>
	<a class="item" href="/general_elections/voter_list/">
		 <i class="edit outline icon"></i>
			Modify Voter List
	 </a>
	<a class="item" href="/general_elections/create_volunteer/">
		<i class="plus square outline icon"></i>
		Create Volunteer
	</a>
	<a class="item" href="/general_elections/view_volunteers/">
		<i class="eye icon"></i>
		View Volunteers
	</a>
	<a class="item" href="/general_elections/bulk_upload/">
		<i class="upload icon"></i>
			Bulk Upload
	</a>
	<a class="item" href="/general_elections/add_contestant/">
		<i class="plus square outline icon"></i>
			Add Contestant
	</a>
	<a class="item" href="/general_elections/view_contestants/">
		<i class="eye icon"></i>
		 View Contestants
	</a>
 	<a class="item" href="/general_elections/delete_contestant/">
		<i class="minus circle icon"></i>
		 Delete Contestant
	</a>
	<a class="item" href="/general_elections/results/">
		<i class="plus square outline icon"></i>
			Results
	</a>
 	<a class="item" href="/general_elections/admin_logout/">
		<i class="share square icon"></i>
		 Logout
	</a>
</div>