<!DOCTYPE html>
{% load static %}

<html>
<head>
<script
  src="{% static 'js/jquery-3.1.1.min.js' %}"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
<script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
<style>input[type="radio"] {
transform: scale(1.5, 1.5); 
-moz-transform: scale(1.5, 1.5); 
-ms-transform: scale(1.5, 1.5); 
-webkit-transform: scale(1.5, 1.5); 
-o-transform: scale(1.5, 1.5); 
}</style>
</head>

<body>
{% include "top.html" %}
{% load i18n %}
{{ wizard.form.media }}
<h5 class="ui center aligned icon header" style="text-transform:uppercase;">
  
  Step #{{ wizard.steps.step1 }} of {{ wizard.steps.count }}<br>
		{{post_name}}	

</h5>

<form action="" method="post">{% csrf_token %}
<!-- <table> -->
{{ wizard.management_form }}
{% if wizard.form.forms %}
    {{ wizard.form.management_form }}
    {% for form in wizard.form.forms %}
        {{ form }}
    {% endfor %}
{% else %}
	<!-- {{wizard.form}} -->
	 <center><font color="red">You can vote for a maximum of {{target_count}} contestants or NOTA.</font><table class="ui red collapsing celled table" align="center" style="margin:30px 50px 30px 50px;border-width:thick;font-size:110%" border="4">
		<thead>
			<tr>
				<th>Vote</th>
				<th>Image</th>
				<th>Name</th>
				<th>Post</th>
				<th>Agenda</th>
			</tr>
		</thead>

		<tbody>
			{% for c in wizard.form.contestants.field.queryset %}
			<tr>
			<label for="id_{{wizard.steps.current}}-contestants_{{forloop.counter|add:"-1"}}">
			 	<td>
			  	<input type="checkbox" 
			  		{% if 'nota_' in c.webmail_id %}	  			
			  			onclick="togglecheckboxes('{{wizard.steps.current}}-contestants', 
			  						'id_{{wizard.steps.current}}-contestants_{{forloop.counter}}')"
			  		{% else %}
			  			onclick="togglecheckboxes2('{{wizard.steps.current}}')"
			  		{% endif %} 
			  		name = "{{wizard.steps.current}}-contestants" value="{{c.webmail_id}}" id="id_{{wizard.steps.current}}-contestants_{{forloop.counter}}" />
			  	</td>
			                                    {% static "" as baseUrl %}
			                                     <td><img src="{{baseUrl}}/images/{{c.image}}" class="ui fluid image" style="width:120px;height:120px;"></td>

			  	<td>{{c.name }}</td>
			  	<td>{{c.post }}</td>
			  	<td>
					<ul>
						<li>{{c.agenda1}}</li>
						<li>{{c.agenda2}}</li>
						<li>{{c.agenda3}}</li>
					</ul>			     
			  	</td>
			</label>
			</tr>
			{% endfor %}	    
		 </tbody>
		<!-- <tfoot class="full-width">
			<tr>
			  <th></th>
			  <th colspan="4">
			  </th>
			</tr>
		</tfoot> -->
	</table>
</center>
{% endif %}
<!-- </table> -->
<center>
	<button name="submit_button" id="submits" type="submit" disabled value="{% trans "submit" %}"  class="ui green labeled icon button">  <i class="hand point up outline icon"></i>Submit</button>
</center>
</center>
<center>
{% if wizard.steps.prev %}
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="ui blue labeled icon button">  <i class="angle double left icon"></i>First Step</button>
<button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="ui teal labeled icon button">  <i class="angle left icon"></i>Previous Step</button>
{% endif %}
</center>
</form>


<!-- Toggle off all buttons if NOTA is selected -->
<script type="text/javascript">
	function togglecheckboxes(cn, me){
	    var cbarray = document.getElementsByName(cn);
	    for(var i = 0; i < cbarray.length; i++){
	        cbarray[i].checked = false
		}
		var cb = document.getElementById(me);
		cb.checked = true;
		document.getElementsByName("submit_button")[0].disabled=false;
	}
</script>

<!-- Toggle off the NOTA button if any contestant is selected -->
<script type="text/javascript">
	function togglecheckboxes2(s){
		var ss = 'nota_'+s;
		var pp = `input[value='${ss}']`;
	    var byValue = document.querySelectorAll(pp);
	    console.log(byValue);
		byValue[0].checked = false;
		var count = document.querySelectorAll('input[type="checkbox"]:checked').length;
		var target = {{target_count}};
		if(count <= target && count>0 ) {
			console.log('called')
			document.getElementById("submits").disabled=false;
		}
		else {
			document.getElementById("submits").disabled=true;
		}

	}
</script>

</body>
